<div class="center jumbotron">
  <h1>To Do inSales</h1>

  <h2>
    This is the home page for the
    <a href="#">To Do inSales</a>
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
